.flickstar_container {
    width: 100% !important;
    max-width: 1920px !important;
    background: #0B0C0F;

}

.box_main {
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    background: var(--background_c);
    max-width: 1920px !important;
    width: 100% !important;
}

.carousel_img {
    align-items: center;
    color: var(--white);

}

.carousel_div_main {
    max-width: 527px !important;
    width: 100% !important;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.carousel_div_img {
    max-width: 1920px;
    width: 100%;
    opacity: 0.7 !important;
}

.carousel_span_main {
    display: flex;
    gap: 19px;
    width: 326px;
}

.carousel_span {
    border-right: 1px solid white;
    padding: 6px;
    font-family: var(--font_family);
    font-size: 14px !important;
    font-weight: 400 !important;
}

.back_color {
    background-color: #E8510E;
    width: 26px;
    height: 24px;
    border-radius: 10px !important;
}

.carousel_span1 {
    width: 100%;
    max-width: 517px !important;
    font-family: var(--font_family);
    font-size: 14px !important;
    font-weight: 400 !important;
}

.b_left {
    border-left: 1px solid white;
}

.carousel_div_botton {
    display: flex;
    gap: 16px;
}

.carousel_grater {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: right;
    padding-bottom: 20px !important;
}

.custom_button_1 .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    max-width: 120px !important;
    width: 100% !important;
    height: 55px !important;
    background: var(--gradient);
    color: var(--white) !important;
    text-transform: capitalize !important;
    display: flex !important;
    gap: 8px !important;
}

.carousel_icon_image {
    width: 55px !important;
    height: 55px !important;
    background: #424242AD;
    border-radius: 8px !important;
    display: flex;
    justify-content: center;
    -webkit-align-items: center !important;

}

@media (max-width: 868px) {
    .carousel_img {
        display: flex;
        flex-direction: column;
    }

    .carousel_div_main {
        width: 100%;
        padding-left: 0%;
    }
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    font-size: 45px !important;
    color: rgb(196, 188, 188) !important;
}

/* .owl-carousel .owl-nav button.owl-prev {
    padding: 0px 20px !important;
} */


.owl-theme .owl-nav {
    display: flex !important;
    justify-content: flex-end !important;
    gap: 60px !important;
    padding-right: 100px !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px !important;
    height: 3px !important;
    margin: 5px 7px !important;
    background: #c1bbb5 !important;
    position: relative !important;
    bottom: 25px !important;
    border-radius: 1px !important;
}

.wel_img img {
    width: 229px !important;
}

.carousel_button img {
    width: 21px !important;
}

.carousel_icon_image img {
    width: 24px !important;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<-------------------Responsive css------------------>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media(max-width:768px) {
    .menulist_container {
        padding-left: 10px !important;
    }
}

@media(max-width:426px) {

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        display: none !important;
    }

    .carousel_span1 {
        display: none !important;
    }

    .carousel_logo img {
        height: 100px !important;
        width: 150px !important;
        position: relative !important;
        top: 130px !important;
    }

    .carousel_span_main {
        /* width: 150px; */
        margin-left: 150px;
        gap: 0;
    }

    .carousel_span {
        font-size: 10px !important;
    }

    .carousel_div_botton {
        margin-left: 150px;
    }

    .carousel_img {
        padding-top: 70px !important;
    }

    .custom_button_1 .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        max-width: 100px !important;
        height: 40px !important;
    }

    .carousel_icon_image img {
        width: 15px !important;
        height: 15px !important;
    }

    .carousel_icon_image {
        width: 40px !important;
        height: 40px !important;
    }

    .small_width .react-multi-carousel-item {
        width: 130px !important;
    }

    .small_height {
        height: 160px !important;
    }

    .medium_width .react-multi-carousel-item {
        width: 150px !important;
    }

    .medium_height {
        height: 200px !important;
    }

    .large_width .react-multi-carousel-item {
        width: 210px !important;
    }

    .large_height {
        height: 130px !important;
    }

    .menulist_wrapper {
        padding: 0;
    }

    .font-18 {
        font-size: 12px !important;
    }

    .carousel_kids img {
        width: 100px !important;
        height: 80px;
        position: absolute;
        bottom: 0;
    }

    .carousel_span_main {
        padding-top: 20px;
    }

    .owl-theme .owl-dots .owl-dot span {
        bottom: 0 !important;
    }

}

@media(max-width:320px) {
    .carousel_logo img {
        height: 80px !important;
        width: 100px !important;
    }

    .carousel_span_main {
        /* width: 150px; */
        margin-left: 100px !important;
        gap: 0;
    }

    .carousel_div_botton {
        margin-left: 100px !important;
    }

    .custom_button_1 .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        max-width: 80px !important;
        height: 35px !important;
    }

    .carousel_icon_image img {
        width: 12px !important;
        height: 12px !important;
    }

    .carousel_icon_image {
        width: 35px !important;
        height: 35px !important;
    }

    .owl-theme .owl-dots .owl-dot span {
        bottom: 0 !important;
    }

}